#container {position: relative; padding: 200px 0 0 0; background-color: #f1f2f2;}
#container > .inner {padding: 0 0 50px;}
.main_top {position: absolute; top: -150px; left: 0; right: 0; margin: 0 auto;}
.main_top .inner {position: relative; box-sizing: border-box; padding: 50px 80px; background-color: #fff; border-radius: 15px;}
.main_top .inner .txt_box strong {display: block; font-size: 50px; color: #414042;}
.main_top .inner .txt_box p {margin: 10px 0 0 0; line-height: 1.4; font-size: 28px; font-weight: 500; color: #414042;}
.main_top .inner button {display: block; position: absolute; bottom: 50px; right: 80px; width: 320px; height: 80px; font-size: 36px; font-weight: 600; color: #fff; border-radius: 44px; background-color: #28acc1;}

.table {width: 100%;}

.table thead tr {height: 80px; border-bottom: 3px solid #d1d3d4; background-color: #e2e3e4;}
.table thead th {font-size: 24px; font-weight: 600; color: #414042; text-align: center; border-left: 1px solid #a7a9ac;}
.table thead th:first-child {border: 0;}
.table tbody tr {height: 80px; background-color: #fff;}
.table tbody tr:nth-child(2n) {background-color: #ebebec;}
.table tbody td {padding: 10px 25px; font-size: 24px; font-weight: 500; color: #414042; text-align: left; border-left: 1px solid #a7a9ac;}
.table tbody td:first-child {border: 0;}
.table tbody td.t_right {text-align: right;}
.table .rank_num span {display: block; font-size: 27px; text-align: right;}
.table .rank_num .c_rank {font-weight: 600; color: #414042;}
.table .rank_num .rank {line-height: 24px; height: 24px; font-weight: 500; color: #414042;}
.table .rank_num .rank i {display: inline-block; margin: 0 10px 0 0; width: 24px; height: 24px; background-repeat: no-repeat; background-position: 0 center; vertical-align: top;}
.table .rank_num .rank_up {color: #ff0000;}
.table .rank_num .rank_up i {background-image: url(../images/main/ic_up.png);}
.table .rank_num .rank_down {color: #0f3add;}
.table .rank_num .rank_down i {background-image: url(../images/main/ic_down.png);}
/* 임의 추가 */
.table .rank_num .rank_stay {color: #414042;}

.table .b_tit {display: block; font-size: 24px;}
.table .b_tit .new {display: inline-block; width: 24px; height: 40px; margin: 0 10px 0 0; background: url(../images/main/ic_new.png) no-repeat 0 center; text-indent: -9999px; vertical-align: top;}
.table .tag button {display: inline-block; margin: 0 10px 10px 0; height: 40px; line-height: 38px; padding: 0 15px; font-size: 18px; color: #231f20; vertical-align: top; border: 1px solid #d1d3d4; background-color: #f1f2f2; border-radius: 20px; text-align: center;}








